# 引入資料庫的套件

In [57]:
import sqlite3
conn = sqlite3.connect('pra.db')
cursor = conn.cursor()

print ("pra.db created successfully")
conn.commit()
cursor.close()
conn.close()

pra.db created successfully

# 創建資料表與其內容

In [61]:
conn = sqlite3.connect('pra.db')
print ("Opened database successfully")
cursor = conn.cursor()

#creat table test2
cursor.execute('''CREATE TABLE  IF NOT EXISTS test2
        (id   INT PRIMARY KEY     NOT NULL,
       name          varchar(8)    NOT NULL,
       age         int(3)    NOT NULL,
       gender      varchar(5)    NOT NULL,
       email      varchar(29)    NOT NULL);''')
print ("Table test2 created successfully")

Opened database successfully
Table test2 created successfully

# 加入資料

In [63]:
conn = sqlite3.connect('pra.db')
cursor = conn.cursor()
print("Opened database successfully")

cursor.execute('''INSERT INTO test2 (id,name,age,gender,email) 
Values(01, 'Tim', 24, 'male','ede@yahoo.com.tw'),
(02, 'apple',57,'female','fegv@gamil.com'),
(03, 'tina',35,'female','gkv@gamil.com'),
(04, 'ben',14,'male','loim@gamil.com'),
(05, 'rita',59,'female','liae@gamil.com')''')
conn.commit()
print("Records created successfully")
#cursor.close()
#conn.close()

Opened database successfully
Records created successfully

# 使用語法篩選資料

In [64]:
results = cursor.execute('''SELECT*  FROM test2 ''')
for item in results:
    print(item)

(1, 'Tim', 24, 'male', 'ede@yahoo.com.tw')
(2, 'apple', 57, 'female', 'fegv@gamil.com')
(3, 'tina', 35, 'female', 'gkv@gamil.com')
(4, 'ben', 14, 'male', 'loim@gamil.com')
(5, 'rita', 59, 'female', 'liae@gamil.com')

In [65]:
cursor.execute('''select * from test2 where age >30''')
for item in results:
    print(item)

(2, 'apple', 57, 'female', 'fegv@gamil.com')
(3, 'tina', 35, 'female', 'gkv@gamil.com')
(5, 'rita', 59, 'female', 'liae@gamil.com')

In [66]:
cursor.execute('''select * from test2 where age >30 limit 1''')
for item in results:
    print(item)

(2, 'apple', 57, 'female', 'fegv@gamil.com')

In [67]:
cursor.execute('''select * from test2 order by age desc''')
for item in results:
    print(item)

(5, 'rita', 59, 'female', 'liae@gamil.com')
(2, 'apple', 57, 'female', 'fegv@gamil.com')
(3, 'tina', 35, 'female', 'gkv@gamil.com')
(1, 'Tim', 24, 'male', 'ede@yahoo.com.tw')
(4, 'ben', 14, 'male', 'loim@gamil.com')

In [68]:
cursor.execute('''select gender, sum(age) from test2 group by gender ''')
for item in results:
    print(item)

('female', 151)
('male', 38)